<div class="row">
    <div class="col-12 text-center p-4">
        <h3>Obiectivele sistemului de management al performanței</h3>
    </div>
</div>
<div class="row p-4">
    <div class="row">
        <div class="col-6">
            <ul>
                <li>Atingerea unei culturi de performanță ridicată</li>
                <li>Alinierea rezultatelor evaluării cantitative la sistemul de compensații și beneficii</li>
                <li>Alinierea la rezultatelor evaluării calitative la procesul de training și dezvoltare</li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>Descoperirea angajaților cu potențial ridicat și determinarea succesorilor</li>
                <li>Accelerarea ritmului de creștere a afacerii</li>
                <li>Utilizarea sistemului de management al performanței de către toți angajații</li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <img src="assets/images/ProcesSistemDeManPerf.png"
            style="display: block; margin-left: auto; margin-right: auto; width: 50%;" />
    </div>
    <div class="row">
        <div class="col-6">
            <h5 style="display: block; margin-left: auto; margin-right: auto; width: 100%; font-weight: bold">
                Dezvoltarea unei culturiorientate către performanță</h5>
            <div class="row">
                <img src="assets/images/DezvCultPerf.png"
                    style="display: block; margin-left: auto; margin-right: auto; width: 60%;" />
            </div>
            <div style="text-align: center;">
                <h5>Un angajat se poate afla în una din cele 4 situații:</h5>
            </div>
            <div class="row" style="text-align: justify;">
                <ul>
                    <li>cadranul 1 (stânga jos) - angajații nu obțin rezultate și nu sunt nici dezvoltați profesional -
                        trebuie să începem să-i dezvoltăm și să-i ajutam să obțină rezultatele cerute de organizație
                    </li>
                    <li>cadranul 2 (dreapta jos) - în acest cadran angajații obțin rezultate, dar nu sunt dezvoltați -
                        trebuie să-i ajutăm să se dezvolte profesional</li>
                    <li>cadranul 3 (stânga sus) - în acest cadran ne întrebăm ce facem cu angajații? Discutăm cu ei ca
                        să analizăm care este problema - căutăm soluții extrinseci și intrinseci pentru a-i ajuta să
                        obțină rezultate</li>
                    <li>cadranul 4 (dreapta sus) - în acest cadran avem situația ideală (aici ne propunem să ajungem cu
                        toți angajații) - în acest cadran avem angajați bine dezvoltați și care își depășesc obiectivele
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <img src="assets/images/SistemManPerf.png"
                    style="display: block; margin-left: auto; margin-right: auto; width: 80%;" />
            </div>
            <div class="row" style="text-align: justify;">
                <ol>
                    <h5>Sistemul de management al performantei cuprinde trei componente:</h5>
                    <li>evaluarea cantitativă a rezultatelor obținute, inclusiv a modului în care a ajuns la rezultate
                        și setarea obiectivelor pentru următoarea perioadă</li>
                    <li>evaluarea calitativă a competențelor profesionale și determinarea competențelor pe care le dorim
                        să le dezvoltam la angajat inclusiv analiza modului în care angajatul s-a dezvoltat profesional
                    </li>
                    <li>aspirațiile angajatului (carieră) – în ce post își dorește angajatul să ajungă în companie pe o
                        anumită perioadă de timp (2, 3, sau 5 ani)</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: justify;">
        <div class="col-12">
            <p>Discuția individuală cu angajații oferă posibilitatea de perfecționare în funcție de necesitățile de
                dezvoltare a fiecărui individ.</p>
            <p>Competențele profesionale reprezintă suma calificărilor, comportamentelor și cunoștințelor aferente
                unui post, la care se adaugă experiența practică acumulată în timp.</p>
            <h6>Pregătirea înseamnă totul deci, începeți atunci când sunteți hotărât să mergeți până la capăt.</h6>
            <p style="font-style: italic;">“Să începi având în minte sfârșitul înseamnă să înțelegi clar unde vrei
                să ajungi. Înseamnă să știi încotro mergi, astfel încât să înțelegi mai bine unde ești acum; astfel
                pașii pe care îi faci vor fi întotdeauna corecți”.</p>
            <h6>“Cele 7 deprinderi ale oamenilor foarte eficienți” de Stephen Covey, Deprinderea nr. 2"</h6>
        </div>
    </div>
</div>