<div class="row">
  <div class="col-12 text-center p-4">
    <h3>Instrucțiuni de setare și evaluare pentru obiective</h3>
  </div>
</div>
<div class="row px-4">
  <h5>Cum setam obiectivele unui subaltern?</h5>
  <ol>
    <li>Alegeți tipul obiectivului, dintre Obiective individuale, Obiective Departamentale
      sau Obiective Corporative.</li>
    <li>Stabiliți data de la care intră în vigoare obiectivul și frecvența de evaluare.</li>
    <li>Apasați dacă este cazul butonul Ascunde/Arata pentru a completa tabelul cu limitele
      de realizare și bonusurile acordate.</li>
    <li>Completați cu o descriere cât mai clară denumirea obiectivului. Ex A. Vânzare lunară
      de 2000 lei. Ex.B Creștere a încasărilor cu 20% față de luna anterioară</li>
    <li>Completați target-ele minim (valoare minimă), target (valoare target),
      maxim (valoare maximă) Ex.A 1900, 2000, 3000. Ex.B 18, 20, 25.</li>
    <li>Completați bonusurile fixe acordate pentru atingerea target-elor în câmpurile precompletate
      cu “RON”. Ex.A 100, 200, 500 Ex.B 100, 150, 200</li>
    <li>Daca ați terminat setarea obiectivelor, apăsați butonul “Salvați” dacă nu, completați
      obiectivul următor trecând la Pasul 1</li>
  </ol>
  <h5>Observație</h5>
  <p>Dacă obiectivul este calitativ, este suficient să completați denumirea acestuia, eventualul
    bonus acordat în căsuța de bonus de sub target și să puneți bifa în pătratul corespunzător
    pe coloana “Obiectiv calitativ”.
  </p>
</div>

<div class="row px-4">
  <h5>Nu uitați!</h5>
</div>
<div class="row px-4">
  <p>Descrieți cât mai clar obiectivul și valoarea targetului.</p>
  <p>Completați întotdeauna numai valori numerice în câmpurile de target.</p>
  <h5>Cum evaluăm obiectivele unui subaltern?</h5>
  <ol>
    <li>Alegem obiectivul de evaluat.
      <p>Dacă în căsuța aferentă din coloana “Valoare realizată” apar date înseamnă că sunt
        rezultatul unei evaluări automate, în caz contrar completați Dvs. valoarea realizată.
        Ex.A 2200. Ex.B 15.</p>
      <p>
        Dacă obiectivul este calitativ căsuța de completare “Valoare realizată” este inactivă și
        puteți pune bifa - în cazul realizării în coloana “Realizat Da/Nu”
        Repetați aceste operații pentru toate obiectivele pe care doriți să le evaluați.
      </p>
    </li>

    <li>
      Dacă ați terminat evaluarea obiectivelor, apăsați pe butonul “Salvați”.
    </li>
  </ol>
  <h5>Observație</h5>
  <h6>Dacă obiectivul este calitativ, e suficient să puneți bifa în pătratul corespunzător pe coloana
    “Obiectiv calitativ” dacă acesta a fost îndeplinit.
  </h6>
</div>
<div class="row px-4">
  <h5>Nu uitați</h5>
</div>
<div class="row px-4">
  <p>Completați întotdeauna numai valori numerice în câmpurile “Valoare realizată”.</p>
</div>