<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Allow requests to existing files and folders (e.g., images, CSS, JS) -->
        <rule name="Ignore Static Files" stopProcessing="true">
            <match url="^(assets/|favicon\.ico|.*\.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|ico|json))$" />
            <action type="None" />
        </rule>

        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
		  <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>