<div class="row">
  <div class="col-12 text-center p-4">
    <h3>Note Subaltern</h3>
  </div>
</div>
<userdata-header [idAngajat]="idAngajat"></userdata-header>
<div class="row pt-2 pb-2">
  <div class="col-sm-3">
    Căutați doar din anul:
  </div>
  <div class="col-sm-2">
    <select class="form-select" [(ngModel)]="selectedYear" (ngModelChange)="getMentiuniInYear()">
      @for (year of years; track year) {
      <option [value]="year">{{ year }}</option>
      }
    </select>
  </div>
</div>
<div class="row pt-1">
  <div class="col-12">
    <div class="p-4 border rounded">
      <table class="table table-striped" style="width: 100%;">
        <thead class="table-header">
          <tr>
            <th scope="col" colspan="1">Data</th>
            <th scope="col" colspan="1">Nota</th>
          </tr>
        </thead>
        <tbody>
          @for (mentiune of mentiuni; track mentiune) {
          <tr>
            <td colspan="1">
              {{ mentiune.data | date: "dd/MM/yyyy" }}
            </td>
            <td colspan="1">
              {{ mentiune.nota }}
            </td>

            <td colspan="1">
              {{ mentiune.data | date: "dd/MM/yyyy" }}
            </td>
            <td colspan="1">
              {{ mentiune.nota }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<form (ngSubmit)="submitForm()" #menituni="ngForm">
  @if (mentiuneNoua) {
  <div class="row">
    <div class="col-12 py-1">
      <mat-label class="header-mat-label">Data: {{currentDate | date: "dd/MM/yyyy"}}</mat-label> &nbsp;
      <mat-label class="header-mat-label" for="nota">Adăugați o notă nouă:</mat-label>
      <div class="form-outline">
        <textarea class="form-control" for="nota" id="nota" name="nota" [(ngModel)]="mentiuneNoua.nota"
          rows="3"></textarea>
      </div>
    </div>
  </div>
  }
  <div class="row pt-1">
    <div class="col-6">
      <cancel-button [routerLink]="['../../listaSubalterni']"></cancel-button>
    </div>
    <div class="col-6">
      <save-button [disabled]="!menituni.valid"></save-button>
    </div>
  </div>
</form>