<div class="row">
  <div class="col-12 text-center p-4">
    <h3>Listă Subalterni cu PIP în curs</h3>
  </div>
</div>
<div class="row p-4 border-rounded">
  <router-outlet></router-outlet>

  <div class="form-group row p-2">
    <div class="col-auto">
      <mat-label>Anul:</mat-label>
    </div>
    <div class="col-auto">
      <select class="form-select" [(ngModel)]="yearFilter" name="yearFilter" (ngModelChange)="onChangeYearFilter()">
        @for (year of years; track year) {
          <option [value]="year">{{ year }}</option>
        }
      </select>
    </div>
  </div>

  @if (!idFirmaLoggedInUser) {
    <table-header [currentPage]="currentPage" [pages]="pages" [itemsPerPage]="itemsPerPage"
      (nextPage)="nextPage($event)" (previousPage)="previousPage($event)" (lastPage)="lastPage($event)"
      (selectItemsPerPage)="changeItemsPerPage($event)" (serachFilter)="filter($event)"
      [searchCriteria]="'Nume, Prenume, Matricola'" [ddFilterList]="ddFirme" [ddFilterVisible]="true"
      (serachIdDDFilter)="filterFirma($event)" ddFilterCriteria="Firma">
    </table-header>
  }

  @if (idFirmaLoggedInUser) {
    <table-header [currentPage]="currentPage" [pages]="pages" [itemsPerPage]="itemsPerPage"
      (nextPage)="nextPage($event)" (previousPage)="previousPage($event)" (lastPage)="lastPage($event)"
      (selectItemsPerPage)="changeItemsPerPage($event)" (serachFilter)="filter($event)"
      [searchCriteria]="'Nume, Prenume, Matricola'">
    </table-header>
  }

  <table class="table p-3 table-striped table-bordered">
    <thead class="table-header">
      <tr class="table-info">
        <th>Nume și prenume</th>
        <th>Matricolă angajat</th>
        <th>Post angajat</th>
        <th>COR angajat</th>
        <th>Stare</th>
        <th>Detalii</th>
        <th>Modificați</th>
        <th>Tipăriți</th>
      </tr>
    </thead>
    <tbody>
      @for (subalern of listaSubalterni; track subalern) {
        <tr>
          <td>{{subalern.numePrenume}}</td>
          <td>{{subalern.matricola}}</td>
          <td>{{subalern.postAngajat}}</td>
          <td>{{subalern.cor}}</td>
          <td>{{subalern.denumireStarePIP}}</td>
          <td class="text-center">
            <button type="button" mat-stroked-button color="primary" (click)="openPipDetailsModal(subalern.idAngajat)">
              <mat-icon color="basic" fontIcon="info"></mat-icon>
              Detalii
            </button>
          </td>
          <td class="text-center">
            <button type="button" mat-raised-button color="primary" (click)="openPipEditModal(subalern.idAngajat)"
              [disabled]="subalern.idStarePIP < 2 && subalern.idStarePIP > 3">
              <mat-icon color="basic" fontIcon="edit"></mat-icon>
              {{subalern.idStarePIP == 3 ? 'Refacere PIP' : subalern.idStarePIP == 2 ? 'Eval. PIP': 'Proces Încheiat'}}
            </button>
          </td>
          <td class="text-center">
            <button type="button" mat-raised-button color="accent" class="form-control"
              (click)="generatePDFPIP(subalern.idAngajat)">
              <mat-icon color="basic" fontIcon="print"></mat-icon> &nbsp;
              Descărcați PDF
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>