<div class="row">
  <div class="col-12 text-center p-4">
      <h3>Dicționarele explicative ale competențelor</h3>
  </div>
</div>
<!-- <div class="row p-4">
  <a href="assets/documents/Dictionar_pentru_competentele_manageriale.pdf"
   download="Dictionar_pentru_competentele_manageriale.pdf">
      <div class="input-group">
          <img src="assets/images/pdf_icon.png" style="height: 25px" />&nbsp;
          <h5>Dictionar pentru competențele manageriale</h5>
      </div>
  </a>
</div>
<div class="row p-4">
  <a href="assets/documents/Dictionar_pentru_competentele_operationale.pdf"
   download="Dictionar_pentru_competentele_operationale.pdf">
      <div class="input-group">
          <img src="assets/images/pdf_icon.png" style="height: 25px" />&nbsp;
          <h5>Dictionar pentru competențele operaționale</h5>
      </div>
  </a>
</div> -->