<div class="row">
  <div class="col-12 text-center p-4">
    <h3>Procedura Evaluarea profesionala a salariatilor si Harta de proces</h3>
  </div>
</div>
<div class="row pt-4">
  <a href="assets/documents/Harta_proces_Evaluarea_profesionala_a_salariatilor.pdf"
    download="Harta_proces_Evaluarea_profesionala_a_salariatilor.pdf">
    <div class="input-group">
      <img src="assets/images/pdf_icon.png" style="height: 25px" />&nbsp;
      <h5>Harta proces Evaluarea profesionala a salariatilor</h5>
    </div>
  </a>
</div>
<!-- <div class="row pt-4">
  <a href="assets/documents/Procedura_Evaluarea_profesionala_a_salariatilor_Aquila.pdf"
    download="Procedura_Evaluarea_profesionala_a_salariatilor_Aquila.pdf">
    <div class="input-group">
      <img src="assets/images/pdf_icon.png" style="height: 25px" />&nbsp;
      <h5>Procedura Evaluarea profesionala a salariatilor Aquila</h5>
    </div>
  </a>
</div> -->
