<div class="container">
  <div class="row">
    <div class="row p-3 border">
      <div class="col-12 text-center p-4 border-bottom">
        <h3>Schimbați Parola</h3>
      </div>
      <form (ngSubmit)="onChangePassword()" #passwordChangeForm="ngForm">
        @if (passwordChange) {
          <div class="row">
            <div class="row mb-3">
              <div class="col-md-12">
                <label>Nume și prenume</label>
                <span class="form-control">{{passwordChange.username}}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="pass-change-newPass">Parola nouă</label>
                <input type="password" class="form-control" id="pass-change-newPass" name="newPass"
                  [(ngModel)]="passwordChange.newPass" #newPass="ngModel" required
                  [class.invalid]="(newPass.touched || newPass.dirty) && newPass.invalid">
                @if ((newPass.touched || newPass.dirty) && newPass.invalid) {
                  <span
                    class="help-block help-block-danger">Câmpul este
                  obligatoriu!</span>
                }
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="pass-change-confNewPass">Confirmare
                parolă</label>
                <input type="password" class="form-control" id="pass-change-confNewPass" name="confNewPass"
                  [(ngModel)]="passwordChange.confNewPass" #confNewPass="ngModel" required
                  [class.invalid]="(confNewPass.touched || confNewPass.dirty) && confNewPass.invalid">
                @if ((confNewPass.touched || confNewPass.dirty) && confNewPass.invalid) {
                  <span
                    class="help-block help-block-danger">Câmpul este
                  obligatoriu!</span>
                }
                @if ((passwordChange.newPass !== passwordChange.confNewPass)
                  && (confNewPass.touched || confNewPass.dirty) && confNewPass.valid
                  && (newPass.touched || newPass.dirty) && newPass.valid) {
                  <span class="help-block help-block-danger">Parolele
                  introduse nu sunt identice!</span>
                }
              </div>
            </div>
          </div>
        }
        <div class="row pt-3">
          <div class="col-6">
            <cancel-button [routerLink]="['']"></cancel-button>
          </div>
          <div class="col-6">
            <save-button [disabled]="!passwordChangeForm.valid"></save-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>